<h5>Hypothecation Deeds</h5>
<br />
<%= search_form_for @q do |f| %>

 <table class='table table-bordered search-table' >
   <tr>
      <th> <%= f.label :member_name_cont %>:
       <%= f.search_field :member_name_cont %> </th>
      <th> <%= f.label :member_mobile_number_cont %>:
       <%= f.search_field :member_mobile_number_cont %> </th>
      <th> <%= f.label :member_aadhaar_number_cont %>:
       <%= f.search_field :member_aadhaar_number_cont %> </th>
      <th rowspan="2">  <%= f.submit "Search", class: 'btn btn-secondary btn-sm' %> </th>
   </tr>
 
<% end %>

<table class="table table-bordered list-table">
  <thead>
    <tr>
       <th>Applicant Name</th>
      <th>Loan Type</th>
      <th>Loan Amount</th>
      <th>Agreement Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @hypothecation_deeds.each do |deed| %>
      <tr>
         <td><%= deed.member.name %></td>
         <td><%= deed.loan_application.loan_type&.name %></td>
         <td><%= deed.loan_amount %></td>
         <td><%= deed.agreement_date %></td>
         
       
         <td>
          <%= link_to 'Print', member_loan_application_hypothecation_deed_path(deed.member,deed.loan_application, deed, format: :pdf) , class: 'btn btn-info  btn-sm '%>
          <%= edit_button(deed, edit_member_loan_application_hypothecation_deed_path(deed.member, deed.loan_application, deed), btn_class: "btn btn-warning btn-sm") %>   
          <%= link_to "Loan App",  member_loan_application_path(deed.member, deed.loan_application), class: "btn btn-secondary  btn-sm" %>
           <%= link_to "Member",   deed.member, class: "btn btn-secondary  btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
