
  <style>
    body {
      font-family: Arial, sans-serif;
     
    }
    @font-face {
            font-family: Arial, sans-serif;
            src: url('https://fonts.gstatic.com/s/balootamma2/v2/vEFK2_hCAgcR46PaajtrYlBbd7wf8tK1W77HtMo.ttf') format('truetype');
    }

    .header {
      text-align: center;
      margin-bottom: 20px;
    }
    .header h1 {
      color: #b30000;
      margin-bottom: 5px;
    }
    .header h3 {
      margin: 0;
    }
    .reg-info {
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }
    th, td {
      border: 1px solid #aaa;
      padding: 6px;
      text-align: left;
       
    }
    th {
      background-color: #f2f2f2;
    }

    .no-border tr td{border: 0; text-align: left}
    .section-title {
      text-align: center;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 20px;
      border-bottom: 1px solid #aaa;
      display: inline-block;
      padding-bottom: 3px;
      width: 100%;
      line-height: 32px;
    }
    .report-table td {
      text-align: left;
    }
    .declaration {
      margin-top: 30px;
    }
    .declaration p {
      margin: 10px 0;
      text-align: justify;
       
    }

        .header-text h1, .header-text h2, .header-text p, .header-text h3 {
            margin: 0;
        }

        .header-text h1 {
            font-size: 24px;
            font-weight: bold;
        }

        .header-text h2 {
            font-size: 24px;
            margin: 5px 0;
        }

        .header-text p {
            font-size: 16px;
            margin: 5px 0;
        }

        .header-text h3 {
            font-size: 22px;
            margin: 5px 0;
            font-weight: bold;
        }

        .header-table {
            width: 100%;
            border: 0;
            margin-bottom: 10px;
            line-height: 1.2;
        }
  </style>
 

 <table class="header-table no-border">
        <tr>
            <!-- Left-aligned Logo -->
            <td style="width: 120px;">
                <%= wicked_pdf_image_tag asset_url('logo.png'), class: "logo", alt: "Logo" %>
                
            </td>

            <!-- Centered Header Text -->
            <td class="header-text" style="text-align: center; flex-grow: 1; font-family: Arial, sans-serif;">
                <h1>MATHRUBHOOMI SOUHARDA SAHAKARI SANGHA LTD</h1>
                <h2>ಮಾತೃಭೂಮಿ ಸೌಹಾರ್ದ ಸಹಕಾರಿ ಸಂಘ ನಿಯಮಿತ</h2>
                <p>H.O. Mathrdhama Gurupura-Kaikamba, Kinnikambla, Mangalore-574 151.</p>
                <p>ಕೇಂದ್ರ ಕಛೇರಿ: ಮಾತೃಧಾಮ ಗುರುಪುರ-ಕೈಕಂಬ ಮಂಗಳೂರು 574151</p>
                <p>Phone: 0824-2258400</p>
                <p>(R. NO. 526/2005-2006)</p>
                <br />
                <h2>ಸಾಲದ ಅರ್ಜಿ <br />SHG LOAN APPLICATION</h2>
            </td>
        </tr>
</table>

<%= form_with model: [@self_help_group, @shg_loan_application], local: true do |f| %>
   <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px">

     
      <div style="width: 50%;">
        <p>To,</p>
        <p>The Manager</p>
        <p><%= Current.branch.try(:name)%> Branch</p>

        <!-- Bordered Section -->
        <div style="border: 1px solid #aaa; padding: 10px; margin-top: 10px;">
            <div class="input-field">
                <label>R. No.<span class="text-danger">*</span></label>
                <%= f.text_field :r_no, disabled: !can_edit_member_fields? %>
            </div>

            <div class="input-field">
                <label>Date:</label>
               <%= f.date_field :application_date, value: Date.today, disabled: !can_edit_member_fields? %>
            </div>

            <!-- Right-aligned text -->
            <p style="text-align: right;"><i>Section Incharge/Clerk</i></p>
        </div>
      </div>
    </div>
  <table class="table">
    <tr>
      <td>ಸದಸ್ಯತ್ವ ಸಂಖ್ಯೆ<br>Membership No</td>
      <td><%= f.text_field :membership_number, disabled: !can_edit_member_fields? %></td>
    </tr>
    <tr>
      <td>ಸ್ವಸಹಾಯ ಗುಂಪಿನ ಹೆಸರು<br>Name of the SHG</td>
      <td><%= @self_help_group.name %></td>
    </tr>
    <tr>
      <td>ಸ್ವಸಹಾಯ ಗುಂಪಿನ ವಿಳಾಸ<br>Address</td>
      <td><%= @self_help_group.address %></td>
    </tr>
  </table>

  <h2 class="section-title">ಸಾಲಕ್ಕೆ ಬೇಡಿಕೆ ಸಲ್ಲಿಸುವ ಸದಸ್ಯರ ವಿವರ <br>DETAILS OF MEMBERS APPLYING FOR A LOAN</h2>
  <% i = 1 %>
  <table>
    <tr>
      <th>ಕ್ರ.ಸಂ.<br>Si.No</th>
      <th>ಅರ್ಜಿದಾರರ ಹೆಸರು<br>Name Of the applicant</th>
      <th>ಸಾಲದ ಬೇಡಿಕೆ<br>Demand Of Loan</th>
      <th>ಸಾಲದ ಉದ್ದೇಶ<br>Purpose Of Loan</th>
      <th> Remove</th>
    </tr>
    <%= f.fields_for :shg_loan_applicants do |applicant_fields| %>
      <tr>
        <td><%= i  %></td>
        <td>  <%= applicant_fields.collection_select :shg_member_id, @self_help_group.shg_members.order(:position), :id, :name, { prompt: "Select Member" }, { disabled: !can_edit_member_fields? } %></td>
        <td><%= applicant_fields.text_field :loan_amount, disabled: !can_edit_member_fields? %></td>
        <td><%= applicant_fields.select :purpose_of_loan,
                    [
                      ["EDUCATION PURPOSE", "EDUCATION PURPOSE"],
                      ["BUSINESS WORKING CAPITAL/INVESTMENT", "BUSINESS WORKING CAPITAL/INVESTMENT"],
                      ["HOUSE RENOVATION", "HOUSE RENOVATION"],
                      ["VEHICLE PURCHASE", "VEHICLE PURCHASE"],
                      ["WEDDING EXPENSES", "WEDDING EXPENSES"],
                      ["MEDICAL EXPENSES", "MEDICAL EXPENSES"],
                      ["PROPERTY PURCHASE", "PROPERTY PURCHASE"],
                      ["RESIDENTIAL HOUSE CONSTRUCTION", "RESIDENTIAL HOUSE CONSTRUCTION"],
                      ["RESIDENTIAL FLAT PURCHASE", "RESIDENTIAL FLAT PURCHASE"],
                      ["RESIDENTIAL SITE PURCHASE", "RESIDENTIAL SITE PURCHASE"],
                      ["COMMERCIAL SITE PURCHASE", "COMMERCIAL SITE PURCHASE"],
                      ["RESIDENTIAL HOUSE RENOVATION", "RESIDENTIAL HOUSE RENOVATION"],
                      ["EXPANSION OF RESIDENTIAL BUILDING", "EXPANSION OF RESIDENTIAL BUILDING"],
                      ["EXPANSION OF COMMERCIAL BUILDING", "EXPANSION OF COMMERCIAL BUILDING"],
                      ["CONSUMABLE/HOUSEHOLD PURPOSE", "CONSUMABLE/HOUSEHOLD PURPOSE"],
                      ["SOLAR PURCHASE", "SOLAR PURCHASE"],
                      ["GOLD PURCHASE", "GOLD PURCHASE"]
                    ],
                    { prompt: "Select Loan Purpose" }, { disabled: !can_edit_member_fields? }  %> </td>
        <td><%= applicant_fields.check_box :_destroy, disabled: !can_edit_member_fields? %> Remove</td>
      </tr>
      <% i += 1 %>
    <% end %>
  </table>

  <h2 class="section-title">ಸ್ವಸಹಾಯ ಸಂಘದ ವರದಿ<br>REPORT</h2>

  <table class="report-table table">
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘ ಪ್ರಾರಂಭವಾದ ದಿನಾಂಕ<br>Date Of commencement of Self help Group</td><td><%= f.date_field :commencement_date, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘದ ಒಟ್ಟು ಉಳಿತಾಯ<br>Total Savings of the Self help Group</td><td><%= f.number_field :total_savings, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘದ ಸದಸ್ಯರ ಸಂಖ್ಯೆ<br>Total number of members of the Self help Group</td><td><%= f.number_field :total_members, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಈ ಹಿಂದೆ ಸಾಲ ಪಡೆದಿದ್ದಲ್ಲಿ ದಿನಾಂಕ ಮತ್ತು ಮೊತ್ತ<br>Date and amount of the previous loan taken</td><td><%= f.date_field :previous_loan_date, disabled: !can_edit_member_fields? %><br /><%= f.number_field :previous_loan_amount, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘ ಆಂತರಿಕ ಸಾಲ ಪಡೆದಿದ್ದಲ್ಲಿ ಬಾಕಿ ಮೊತ್ತ<br>Outstanding amount if any internal loan has been taken by the Self-Help Group</td><td><%= f.number_field :internal_loan_outstanding, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘದ ಠೇವಣಿಗಳು ಇದ್ದರೆ ಠೇವಣಿ ಮೊತ್ತ<br>Deposit amount if the Self-Help Group has any deposits</td><td><%= f.number_field :deposit_amount, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸ್ವಸಹಾಯ ಸಹಾಯ ಸಂಘದ ವಾರದ ಸಭೆಗಳು ನಿಯಮಿತವಾಗಿ ನಡೆಯುತ್ತಿವೆಯೆ?<br>Are the weekly meetings of the Self-Help Group being conducted regularly?</td><td><%= f.check_box :weekly_meetings, disabled: !can_edit_member_fields? %></td></tr>
    <tr><td>ಸದಸ್ಯರ ಪಾಸುಪುಸ್ತಕಗಳ ಹಕ್ಕಪತ್ರಗಳನ್ನು ನಿಖರವಾಗಿ ನಡಿಸಲಾಗುತ್ತಿದೆಯೆ?<br>Are the transaction records of the Self-Help Group and the individual passbooks of the members being maintained properly?</td><td><%= f.check_box :records_maintained, disabled: !can_edit_member_fields? %></td></tr>
  </table>

  <h2 class="section-title">ಸ್ವಸಹಾಯ ಸಂಘದ ಸದಸ್ಯರ ಘೋಷಣಾ ಪತ್ರ<br>DECLARATION LETTER OF MEMBERS OF SHG</h2>

  <div class="declaration">
    <p><strong>01.</strong> ಈ ಮೇಲಿನ ಸಾಲ ಬೇಕೆಂದು ಅರ್ಜಿ ಸಲ್ಲಿಸಿದ ಸದಸ್ಯರ ಸಾಲಗಳಿಗೆ ಈ ಕೆಳಗೆ ಸಹಿ ಮಾಡಿರುವ ನಾವು ಎಲ್ಲ ಸದಸ್ಯರೂ ಜಾಮೀನುದಾರರಾಗಿದ್ದೇವೆ. ನಾವು ಯಾರು ಸಾಲ ತಗೊಂಡು ಹತ್ತಿರವಲ್ಲದ ಪ್ರದೇಶಕ್ಕೆ ಹೋಗಿದ್ರೆ ಅಥವಾ ಸಾಲ ಪಾವತಿಸದ ಕಾರಣದಿಂದ ಈ ಪರಿಷತ್ತಿಗೆ ನಷ್ಟ ಆಗಿದ್ರೆ, ನಾವು ಒಟ್ಟಾರೆ ಪಾವತಿಸುವ ಜವಾಬ್ದಾರಿ ಹೊಂದಿರುತ್ತೇವೆ.</p>
    <p>"We, the members of the self-help group who have signed as guarantors for the loans requested by fellow members, hereby agree that if any member who has taken a loan fails to repay it or leaves the area for any reason, we, as members of the self-help group, shall be jointly responsible to repay the loan."</p>

    <p><strong>02.</strong> ಮಥೃಭೂಮಿ ಸಹಕಾರ ಸಂಘಕ್ಕೆ ಸದಸ್ಯರ ಸಾಲ ತೀರಿಸಿದ ಪಾವತಿಗಾಗಿ ಒಟ್ಟಾರೆ ಅಥವಾ ವೈಯಕ್ತಿಕವಾಗಿ ಕಾನೂನು ಕ್ರಮ ಕೈಗೊಳ್ಳುವ ಅಧಿಕಾರ ಇದೆ ಎಂಬುದನ್ನು ನಾವು ಅರ್ಥಮಾಡಿಕೊಂಡಿದ್ದೇವೆ. ನಾವು ಈ ಪರಿಷತ್ತಿಗೆ ನಷ್ಟವಾಗದಂತೆ ಸಾಲದ ಮೊತ್ತವನ್ನು ವ್ಯರ್ಥವಾಗಿ ಬಳಸದಂತೆ ಹಾಗೂ ಶಿಷ್ಟವಾಗಿ ಬಳಸುವುದೆಂದು ಎಲ್ಲ ಸದಸ್ಯರು ಒಪ್ಪಿಕೊಂಡಿದ್ದಾರೆ.</p>
    <p>"We understand that <strong>Mathrubhoomi Souharda Co-operative Society, Mangalore</strong> has the authority to take <strong>joint and individual legal action</strong> against the members of the self-help group to recover any loan installment or interest related to the loan. I also acknowledge that the loan amount must be used strictly for the purpose for which it was taken, and all members are committed to this condition."</p>

    <p><strong>03.</strong> ಸಾಲ ತೀರಿಸುವ ಅವಧಿಯಲ್ಲಿ ಹೆಚ್ಚು ಕಾಲ ಪಾವತಿಸದಿದ್ದರೆ, ಸಂಘದ ಸದಸ್ಯರು ನಷ್ಟ ಪೂರೈಸುವಲ್ಲಿ ಸಹಕರಿಸಬೇಕೆಂಬ ಶರತ್ತು ಬದ್ಧತೆ ಇದೆ. ಸದಸ್ಯರು ಪಾವತಿಸದಿದ್ದರೆ, ನಾವು ಸಹಕರಿಸುವೆವು ಎಂಬುದನ್ನು ದೃಢಪಡಿಸುತ್ತೇವೆ. ಸಂಘದ ನಿಯಮಗಳು ಮತ್ತು ನಿರ್ದಿಷ್ಟ ಮಾನದಂಡಗಳಿಗೆ ನಾವು ಬದ್ಧರಾಗಿದ್ದೇವೆ ಎಂಬುದನ್ನು ಸಹ ಒಪ್ಪಿಕೊಳ್ಳುತ್ತೇವೆ.</p>
    <p>"I understand that if the loan installment is overdue for more than three installments, the members of the self-help group have the authority to recover the outstanding amount from the concerned defaulter. I hereby affirm that no issues will be created during the recovery process. I also confirm that I shall comply with the existing rules of <strong>Mathrubhoomi Souharda Co-operative Society, Mangalore</strong>, as well as any necessary requirements that may be implemented by the co-operative in the future."</p>
  </div>
  <% i = 1 %>
  <table>
    <tr>
      <th>ಕ್ರ.ಸಂ.<br>Si.No</th>
      <th>ಅರ್ಜಿದಾರರ ಹೆಸರು ಮತ್ತು ವಿಳಾಸ<br>Name of the applicant & address</th>
      <th>ಆಧಾರ್ ಸಂಖ್ಯೆ<br>Aadhar No.</th>
      <th>ಮೊಬೈಲ್ ಸಂಖ್ಯೆ<br>Mobile No.</th>
      <th>ಸಹಿ<br>Signature</th>
    </tr>
    <%- @self_help_group.shg_members.order(:position).each_with_index do |m| %>
      <% unless m.name.blank? %>
        <tr>
          <td><%= i %></td>
          <td><%= m.name %><br><%= m.address %></td>
          <td><%= m.aadhar_number %></td>
          <td><%= m.mobile %></td>
          <td> </td>
        </tr>
        <% i = i + 1 %>
      <% end %>
    <% end %>
  </table>
  
  <p style="margin-top: 30px; font-size: 14px;">
    ಸ್ವಸಹಾಯ ಸಂಘದ ಈ ಮೇಲೆ ಸಹಿ ಮಾಡಿರುವ ನಾವು ಸಂಘದ ಸದಸ್ಯರು ಪಡೆದಿರುವ ಸಾಲಗಳಿಗೆ ಎಲ್ಲರೂ ಸಾಮೂಹಿಕವಾಗಿ ಜವಾಬ್ದಾರರು ಎಂಬುದು ತೊಡಗಿಸಿಕೊಂಡು ನಡೆದು ಸಭೆಯಲ್ಲಿ ಹಾಜರಿದ್ದು ಒಪ್ಪಿಕೊಂಡಿದ್ದೇವೆ ಎಂದು ದೃಢಪಡಿಸುತ್ತೇವೆ.<br>
    We the signed members of the Self help group, confirm that we were present at the meeting and agreed that all members are collectively responsible for the loans taken
  </p>

  <table style="width: 60%; margin-top: 20px;" class="no-border">
    <tr><td>ದಿನಾಂಕ / Date:<%= f.date_field :declaration_date, disabled: !can_edit_member_fields? %></td><td></td></tr>
    <tr><td style="width: 60%;">ಸ್ಥಳ / Place: <%= f.text_field :declaration_plce, value: Current.branch.try(:name), disabled: !can_edit_member_fields? %></td><td>ಪ್ರಭಂದಕರು / President:</td> <td>ಸಚಿವರು / Secretary:</td> </tr>
  </table>
 

  <h2 class="section-title">ಮೌಲ್ಯಮಾಪಕರ/ಪರಿಶೀಲಕರ ವರದಿ<br>Supervisor’s/Inspector’s Report</h2>

  <table class="report-table">
    <tr>
      <td>01</td>
      <td>ಸಾಲ ಬೇಡಿಕೆ ಸಲ್ಲಿಸಿದ ಸ್ವಸಹಾಯ ಗುಂಪಿನ ಸಭೆಯ ದಿನಾಂಕ<br>
      Date of the Self-Help Group meeting in which the loan request was submitted</td>
      <td><%= f.date_field :supervisor_meeting_date, disabled: !can_edit_member_fields? %></td>
    </tr>
    <tr>
      <td>02</td>
      <td>ಉಳಿತಾಯದ ಮೇಲೆ ಆಧಾರಿತವಾಗಿ ಮಂಜೂರಾಗಬಹುದಾದ ಸಾಲ<br>
      Loan amount that can be sanctioned based on the Self-Help Group's savings</td>
      <td><%= f.number_field :supervisor_sanctionable_amount, disabled: !can_edit_member_fields? %></td>
    </tr>
    <tr>
      <td>03</td>
      <td>ವಾರ ಸಭೆಗಳು/ಉಳಿತಾಯ/ಸಾಲ ಪಾವತಿ ಬಗ್ಗೆ ಟಿಪ್ಪಣಿ (ಈ ಹಿಂದೆ ಮಂಜೂರಾದ ಸಾಲ ಪಾವತಿಸಲಾಗಿಲ್ಲದಿದ್ದರೆ ವಿವರ ನೀಡಬೇಕು)<br>
      Comments on the Self-Help Group's weekly meetings / savings / loan repayments (If any previously sanctioned loan is unpaid or delayed, it should be clearly mentioned)</td>
      <td><%= f.text_area :supervisor_comments, disabled: !can_edit_member_fields? %></td>
    </tr>
    <tr>
      <td>04</td>
      <td>ಸಾಲಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ನಿರ್ಧಾರಗಳು ಸಂಘದ ಸಭೆಯಲ್ಲಿ ಏಕಮತದಿಂದ ತೀರ್ಮಾನವಾಗಿದೆಯೆ?<br>
      Have the decisions related to the loan been unanimously approved in the Self-Help Group meeting?</td>
      <td><%= f.check_box :supervisor_unanimous, disabled: !can_edit_member_fields? %></td>
    </tr>
    <tr>
      <td>05</td>
      <td>ಮಂಜೂರಾದ ಸಾಲದ ಮೊತ್ತದಲ್ಲಿ ಉತ್ಪಾದಕ ಸಾಲಕ್ಕಿಂತ ಅಉತ್ಪಾದಕ ಸಾಲ ಹೆಚ್ಚು ಇದೆಯೆ?<br>
      Is the sanctioned loan amount for non-productive purposes higher than the loan amount for productive purposes?</td>
      <td><%= f.check_box :supervisor_productive_more_than_nonproductive, disabled: !can_edit_member_fields? %></td>
    </tr>
     <tr>
        <td>06</td>
        <td>ಸ್ವಸಹಾಯ ಸಂಘ ಪಡೆದ ಒಟ್ಟು ಸಾಲ<br>
        Total loan amount received by the Self-Help Group</td>
        <td><%= f.number_field :total_loan_received, disabled: !can_edit_member_fields? %></td>
      </tr>
      <tr>
        <td>07</td>
        <td>ಕಡತದ ಆಧಾರ ಮರಳಿಸಲಾಗಿದೆ<br>
        Total amount repaid from the loan received by the Self-Help Group</td>
        <td><%= f.number_field :total_loan_repaid, disabled: !can_edit_member_fields? %></td>
      </tr>
      <tr>
        <td>08</td>
        <td>ಉಳಿದ ಸಾಲ<br>
        Outstanding Loan</td>
        <td><%= f.number_field :total_loan_outstanding, disabled: !can_edit_member_fields? %></td>
      </tr>
      <tr>
        <td>09</td>
        <td>ಸಾಲದ ನಿಗದಿತ ಮೊತ್ತಕ್ಕಿಂತ ಹೆಚ್ಚು ಬೇಡಿಕೆ ಸಲ್ಲಿಸಿದ ಸದಸ್ಯರ ವಿವರ ಮತ್ತು ದಾಖಲೆಗಳು<br>
        Details of members who have submitted loan requests exceeding the prescribed amount and the documents received from them</td>
        <td><%= f.text_area :excess_demand_details, disabled: !can_edit_member_fields? %></td>
      </tr>
      <tr>
        <td>10</td>
        <td>ಸಭೆಯಲ್ಲಿ ಎಲ್ಲ ಸದಸ್ಯರು ಉಳಿತಾಯ ಹಾಗೂ ಸಾಲದ ಮೊತ್ತವನ್ನು ವಾರದ ಸಭೆಗಳಲ್ಲಿ ಠೇವಣಿಸುತಿರುವರಾ?<br>
        Do all members of the Self-Help Group deposit their savings and loan amounts during the weekly meetings?</td>
        <td><%= f.check_box :weekly_deposit_compliance, disabled: !can_edit_member_fields? %></td>
      </tr>
    </table>

 
    <h2 class="section-title">ಸ್ವಸಹಾಯ ಸಂಘದ ಮೇಲ್ವಿಚಾರಕರ/ಕ್ಲರ್ಕ್ ವರದಿ <br />Supervisor/Clerk Report</h2>


    <%= f.text_area :supervisor_report, :rows => 8 , style: "width: 100%", disabled: !can_edit_member_fields? %>
    <p style="margin-top: 20px; text-align: right">ಸಂಘದ ಮೇಲ್ವಿಚಾರಕರ ಸಹಿ / Sign. of SHG Supervisor</p>

    <h2 class="section-title">ಶಾಖಾಧಿಕಾರಿಯ ವರದಿ/ಶಿಫಾರಸು <br /> Branch Manager Report / Recommendations</h2>
    <%= f.text_area :bm_report, :rows => 8 , style: "width: 100%", disabled: !can_edit_member_fields? %>
    <table>
      <tr>
        <th>ಸಾಲದ ಉದ್ದೇಶ<br>Purpose of Loan</th>
        <th>ಸಾಲದ ಮೊತ್ತ<br>Loan Amount</th>
        <th>ಅವಧಿ<br>Term</th>
        <th>ಭದ್ರತೆ<br>Security</th>
      </tr>
      <tr><td><%= f.text_field :bm_purpose, disabled: !can_edit_member_fields? %></td>
        <td><%= f.number_field :bm_amount, disabled: !can_edit_member_fields? %></td>
        <td><%= f.text_field :bm_term, disabled: !can_edit_member_fields? %></td>
        <td><%= f.text_field :bm_security, disabled: !can_edit_member_fields? %></td>
      </tr>
    </table>

    <p style="margin-top: 20px;">
      ದಿನಾಂಕ / Date: <%= f.date_field :bm_date, disabled: !can_edit_member_fields? %><br>
      ಸ್ಥಳ / Place: <%= f.text_field :bm_place, disabled: !can_edit_member_fields? %>
    </p>

    <p style="margin-top: 20px; text-align: right">ಶಾಖಾಧಿಕಾರಿಯ ಸಹಿ / Sign. of Branch Manager</p>
    
    <div style="border: 1px solid #aaa; padding: 10px;">

      <h2 class="section-title">ಕೇಂದ್ರಾಧಿಕಾರಿ ವಿಭಾಗ (Head Office Section) <br /> ಸಾಲವಿಭಾಗದ ಮೇಲ್ವಿಚಾರಕರ/ಮುಖ್ಯಸ್ಥರ ವರದಿ</h2>

      <h5 style="text-align: center; margin-top: 5px;">
        Verification And Recommendation Report Of Loan Section Incharge/Head</em>
      </h5>
      <%= f.text_area :ho_report, :rows => 8 , style: "width: 100%", disabled: !can_edit_head_office_fields? %>
      <table  style="width: 100%; margin-top: 10px;" class="no-border">
        <tr>
          <td>ದಿನಾಂಕ / Date:</td>
          <td><%= f.date_field :ho_date, disabled: !can_edit_head_office_fields? %></td>
          <td style="text-align: right;">ಸಹಿ / Sign:</td>
        </tr>
        <tr>
          <td>ಸ್ಥಳ / Place:</td>
          <td><%= f.text_field :ho_place, disabled: !can_edit_head_office_fields? %></td>
          <td></td>
        </tr>
      </table>

      <hr>
      
      <h2 class="section-title">ಮುಖ್ಯಕಾರ್ಯನಿರ್ವಾಹಕರು/ಅಧೀಕ್ಷಕನ ನಿರ್ದೇಶನದ ಇತರ ಮಂಜೂರಾತಿ ಆದೇಶ<br>Sanction Order/Recommendations By CEO/MD</h2>
 

    <p>
      ಶಾಖೆಯ ಶಾಖಾಧಿಕಾರಿಯ ಶಿಫಾರಸ್ಸಿನ ಆಧಾರದ ಮೇಲೆ ಮತ್ತು ಕೇಂದ್ರ ಕಚೇರಿಯ ಅಧಿಕೃತ ಅಧಿಕಾರಿ ಪರಿಶೀಲನೆಯ ಆಧಾರದ ಮೇಲೆ
       ----- ಸ್ವಸಹಾಯ ಸಂಘಕ್ಕೆ ರೂ. ______________ ಸಾಲವನ್ನು ಮಂಜೂರು ಮಾಡಲು ಸೂಚಿಸಲಾಗಿದೆ.
    </p>

    <p>
      <em>
        On the basis of recommendation by the Branch Manager and Scrutiny by the authorized officer in Head Office,
        it is ordered/recommended for a loan amount of ₹ ______________ (Rupees in words)
      </em>
    </p>

    <table style="width: 100%; margin-top: 10px;" class="no-border">
      <tr>
        <td>ಸಾಲ ಮಂಜೂರಾತಿ ಆದೇಶ ಸಂಖ್ಯೆ<br>Sanction Order No</td>
        <td>:</td>
        <td><%= f.text_field :sanction_order_no, disabled: !can_edit_head_office_fields? %></td>
      </tr>
      <tr>
        <td>ಸಾಲ ಮಂಜೂರಾತಿ ಆದೇಶ ದಿನಾಂಕ<br>Sanction Order Date</td>
        <td>:</td>
        <td><%= f.date_field :sanction_order_date, disabled: !can_edit_head_office_fields? %></td>
      </tr>
      <tr>
        <td>ಮಂಜೂರಾತಿ ಮೊತ್ತ<br>Sanction Amount</td>
        <td>:</td>
        <td><%= f.number_field :sanction_amount, disabled: !can_edit_head_office_fields? %></td>
      </tr>
    </table>

    <p style="text-align: right; margin-top: 20px;">
      <strong>CEO/MD</strong><br>
      ಮುಖ್ಯಕಾರ್ಯನಿರ್ವಾಹಕರು
    </p>
    </div>
    
    <div style="border: 1px solid #aaa; padding: 10px; margin-top: 20px;">

     <h2 class="section-title">ಆಡಳಿತ ಮಂಡಳಿಯ ನಿರ್ಧಾರಗಳು<br>Resolutions of the Board of Management</h2>
 
    <p style="text-align: justify;">
      ಕೇಂದ್ರ ಕಚೇರಿಯಲ್ಲಿ ನಡೆದ ಸಾಲಮಂಜೂರಾತಿ ಸಮಿತಿ/ನಿರ್ದೇಶಕರ ಮಂಡಳಿಯ ಸಭೆಯಲ್ಲಿ ಸಾಲವನ್ನು ಅನುಮೋದಿಸಲಾಗಿದೆ<br>
      <em>Loan sanctioned/approved on by loan committee/Board of Directors meeting held at Head Office</em>
    </p>

    <table style="width: 100%; margin-top: 10px;" class="no-border">
      <tr>
        <td>ಮಂಜೂರಾತಿ ಮಿತಿ<br>Sanction Limit</td>
        <td>:</td>
        <td><%= f.number_field :resolution_limit, disabled: !can_edit_head_office_fields? %></td>
      </tr>
      <tr>
        <td>ನಿರ್ಣಯ ಸಂಖ್ಯೆ / Resolution No. / L.C.O No</td>
        <td>:</td>
        <td><%= f.text_field :resolution_number, disabled: !can_edit_head_office_fields? %></td>
      </tr>
    </table>

    <h2 class="section-title">ತಪಾಸಣಾ ವಿಮರ್ಶೆ ವರದಿ<br>Inspection Review</h2>
     <%= f.text_area :inspection_report, :rows => 8 , style: "width: 100%", disabled: !can_edit_head_office_fields? %>
    <table style="width: 100%; margin-top: 10px;" class="no-border">
      <tr>
        <td>ದಿನಾಂಕ / Date</td>
        <td>:</td>
        <td><%= f.date_field :inspection_date, disabled: !can_edit_head_office_fields? %></td>
        <td></td>
      </tr>
      <tr>
        <td>ಸ್ಥಳ / Place</td>
        <td>:</td>
        <td><%= f.text_field :inspection_place, disabled: !can_edit_head_office_fields? %></td>
        <td style="text-align: right;">ಅಧೀಕ್ಷಕ ಅಧಿಕಾರಿ / Ins. Officer</td>
      </tr>
    </table>

    <h2 class="section-title">ಸಾಲ ವಿತರಣೆಯ ವಿವರಗಳು<br>Details Of Loan Disbursement</h2>
    <table style="width: 100%; border-collapse: collapse; margin-top: 10px;" border="1">
      <thead>
        <tr>
          <th>ದಿನಾಂಕ / Date</th>
          <th>ಸಾಲದ ಖಾತೆ ಸಂಖ್ಯೆ<br>Account No</th>
          <th>ಸಾಲದ ಅವಧಿ<br>Term</th>
          <th>ಸಾಲದ ಮೊತ್ತ<br>Loan Amount</th>
          <th>ಬಡ್ಡಿ<br>ROI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.date_field :disbursement_date, disabled: !can_edit_head_office_fields? %></td>
          <td><%= f.text_field :account_no, disabled: !can_edit_head_office_fields? %></td>
          <td><%= f.text_field :account_term, disabled: !can_edit_head_office_fields? %></td>
          <td><%= f.number_field :account_amount, disabled: !can_edit_head_office_fields? %></td>
          <td><%= f.number_field :account_roi, disabled: !can_edit_head_office_fields? %></td>
        </tr>
      </tbody>
    </table>

    <p style="margin-top: 20px;">
      ದಿನಾಂಕ / Date: <%= f.date_field :bm_sign_date, disabled: !can_edit_head_office_fields? %><br>
      ಸ್ಥಳ / Place: <%= f.text_field :bm_sign_place, disabled: !can_edit_head_office_fields? %><br>
      <span style="float: right;">ಶಾಖಾಧಿಕಾರಿಯ ಸಹಿ / Sign. of Branch Manager</span>
    </p>
  </div>

 
  <br>
  <%= f.submit "Save Application", class: "btn btn-primary" %>
  <br />
  <br />
<% end %>